.list img{
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 9px;
    
}
.show{
   margin-top: 4px;
   display: flex;
   align-items: start;
   text-align: left;
   flex-direction: column;
   font-family: Arial, Helvetica, sans-serif;
   color: white;
   background-color: rgb(0, 0, 0);
   border-radius: 15px;
  overflow: hidden;
}
.none{
    display: none;
}

.show ul{
    list-style: none;
    width: 100vw;
    height:100%;
    margin-left: -40px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.show ul li{
   cursor: pointer;
   width: 100%;
   padding-top: 3px; 
   color: white;
   

}

.show ul li:hover{
    background-color: rgba(54, 47, 47,0.4);
}

@media (max-width: 943px) {
    .show {
    width: 70%;
    font-size: 12px;
  }
  
  .list img{
    width: 35px;
    height: 35px;
  }

}

@media (max-width: 491px) {
    .show {
        font-size: 9px;
      }
      
      .list img{
        width: 20px;
        height: 20px;
      }
    
}
  


  